.ce_ynfinite_form {
	margin: 0 -1rem;
	
	.form-container,
	.result-container {
		opacity: 1;
		transition: opacity .3s 0s ease;
		height: auto;

		&.hidden {
			height: 0;
			overflow: hidden;
			opacity: 0;
		}

	}

	form {
		@include flex-between();
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
	}

	.widget {
		flex-basis: 100%;
		-webkit-flex-basis: 100%;
		max-width: 100%;
		margin-bottom: 1.5rem;

		label {
			display: block;
		}

		input {
			width: 100%;
		}

		input, select {
			padding: 0.5rem 1rem;
			border: 1px solid lightgrey;
		}

		border-left: 2px solid $white;
		padding: 0 1rem;
		
		&.hasError {
			border-left: 2px solid orange;
		}

		&.text {
			textarea {
				width: 100%;
				min-height: 10rem;
			}
		}

		&.select {
		}

		&.checkbox,
		&.radio {
			position: relative;
			> label {
				margin-bottom: 1.5rem;
			}

			.widget-inner-container {
				@include flex-start();
				margin-bottom: 1.5rem;

				.widget-option-container {
					margin-right: 2rem;

					@include flex-center-content();
					
					input {
						outline: 0;
						position: relative;
						appearance: none;
						-webkit-appearance: none;
						-moz-appearance: none;
						
						width: 2rem;
						height: 2rem;
						border: 1px solid lightgrey;
						margin-right: 0.5rem;
						
						&:active, &:checked:active {
							box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
							outline: 0;
						}

						&:checked {
							&::after {
								content: "";
								width: 0.5rem;
								height: 1rem;
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%) rotate(45deg);
								border-bottom: 2px solid $black;
								border-right: 2px solid black;
							}
						}

						&.error {
							&::before {
								display: none;
								content: "";
							}
						}
					}

					label.error {
						position: absolute;
						left: 1rem;
						bottom: -1rem;
					}
				}
			}
		}

		&.radio {
			.widget-inner-container {
				.widget-option-container {
					input {
						border-radius: 50%;
					}
				}
			}
		}
	}

	.field-group {
		flex-basis: 100%;
		-webkit-flex-basis: 100%;
		max-width: 100%;

		@include flex-between();

		> .widget {
			flex: 1;
		}
	}

	.form-explanation, .form-controls, .result-container {
		flex-basis: 100%;
		-webkit-flex-basis: 100%;
		max-width: 100%;
		margin: 1.5rem 0;

		padding: 0 1rem;
	}
			
	.form-controls {
		button[type="submit"] {
			width: auto;
			padding: 1rem 1rem;
			width: auto;

			border: 1px solid $primaryColor;

			transition: all .3s 0s ease;
			text-align: center;

			background-color: $primaryColor;
			color: $white;

			outline: none;
			&:hover {
				opacity: 0.7;
			}

			&.sending {
				background-color: $lightGrey;
				pointer-events: none;
				border: 1px solid $lightGrey;

				color: $textColor;
			}
		}
	}


	.error {
		font-size: 1.4rem;
		margin-top: 0.25rem;
		&::before {
			@include fa-content("\f071", 1.6rem, 1rem);
			color: orange;
		}
	}

	.sendError {
		font-size: 1.4rem;
		margin-top: 0.25rem;
		&::before {
			@include fa-content("\f071", 1.6rem, 1rem);
			color: orange;
		}
	}
}

