.ce_ynfinite_form {
	margin: 0 -1rem;
	
	.form.container,
	.result {
		opacity: 1;
		transition: opacity .3s 0s ease;
		height: auto;

		&.hidden {
			height: 0;
			overflow: hidden;
			opacity: 0;
		}

	}

	form {
		@include flex-between();
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
	}

	.widget {
		flex-basis: 100%;
		-webkit-flex-basis: 100%;
		max-width: 100%;
		margin-bottom: 1.5rem;

		label {
			display: block;
		}

		input {
			width: 100%;
		}

		input, select {
			padding: 0.5rem 1rem;
			border: 1px solid lightgrey;
		}

		border-left: 2px solid $white;
		padding: 0 1rem;
		
		&.hasError {
			border-left: 2px solid orange;
		}

		&.text {
		}

		&.select {
		}

		&.checkbox,
		&.radio {
			.widget-inner-container {
				@include flex-start();
				

				.widget-option-container {
					@include flex-start();
					align-items: center;
					margin-right: 2rem;

					input {
						margin-right: 0.5rem;
					}
				}
			}
		}
	}

	.field-group {
		flex-basis: 100%;
		-webkit-flex-basis: 100%;
		max-width: 100%;

		@include flex-between();

		> .widget {
			flex: 1;
		}
	}

			
	.form-controls {
		flex-basis: 100%;
		-webkit-flex-basis: 100%;
		max-width: 100%;
		margin: 1.5rem 0;

		padding: 0 1rem;

		button[type="submit"] {
			width: auto;
			padding: 1rem 1rem;
			width: auto;

			border: 1px solid $primaryColor;

			font-size: 1.6rem;

			transition: all .3s 0s ease;
			text-align: center;

			background-color: $primaryColor;
			color: $white;

			outline: none;
			&:hover {
				opacity: 0.7;
			}
		}
	}


	.error {
		font-size: 1.4rem;
		margin-top: 0.25rem;
		&::before {
			@include fa-content("\f071", 1.6rem, 1rem);
			color: orange;
		}
	}

	.sendError {
		font-size: 1.4rem;
		margin-top: 0.25rem;
		&::before {
			@include fa-content("\f071", 1.6rem, 1rem);
			color: orange;
		}
	}

	.result {
		padding: 0 1rem;
	}
}

